<form [formGroup]="form" (ngSubmit)="handleSubmit()">
    <div class="input-container">
        <input type="text" formControlName="name" placeholder="Name" required minlength="3" />
        <div class="validation">
            <div *ngIf="form.controls.name.errors" [@fadeIn]>{{ getErrorMessage('name') }}</div>
        </div>
    </div>

    <div class="input-container">
        <input type="number" formControlName="age" placeholder="Age" required min="0" />
        <div class="validation">
            <div *ngIf="form.controls.age.errors" [@fadeIn]>{{ getErrorMessage('age') }}</div>
        </div>
    </div>

    <div class="labeled">
        <label for="isPoopy">Is Poopy?</label>
        <input id="isPoopy" type="checkbox" formControlName="poop" />
    </div>
    <button type="submit" [disabled]="form.invalid">Save</button>
</form>